@{
    Layout = null;
}
@model BlogParkTestPro.WebUI.Models.UserModels    
           <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

</head>
<body>
    <form method="post">
        <div>
            <a href="#">登录到博客园</a>&nbsp;&nbsp;<a href="#" target="_blank">立即注册</a><br />
            <label>用户名</label>
            <input type="text" name="username" id="username" />&nbsp;<a href="#">找回用户名</a><br />
            @Html.ValidationMessageFor(m=>m.username)<br />
            <label>密码</label>
            <input type="password" name="password" id="password" />&nbsp;<a href="#">重置密码</a><br />
            @Html.ValidationMessageFor(m => m.password)<br />
            @Html.CheckBoxFor(m=>m.isnextautologin) 下次自动登录<br />
          <input type="submit" value="登录" name="submit" />&nbsp;&nbsp;&nbsp;<a href="#">返回</a>
        </div>
    </form>
</body>
</html>
 